@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h1>MEAB</h1>
            <p class="lead">Create and manage armies to conquer Middle Earth!</p>
            <p><a href="@Url.Action("Create","ArmyLists")" class="btn btn-primary btn-lg">Build a List</a></p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive img-rounded" src="~/Content/Images/silmarillion__fall_of_gondolin_by_ladyelleth.png" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Warbands</h2>
        <p>
            Construct Warbands independently in order to quickly add them lists.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Create", "Warbands")">Build &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Units</h2>
        <p>Start constructing units to flesh out your armies, and dominate opponents.</p>
        <p><a class="btn btn-default" href="@Url.Action("Create", "Units")">C'mon! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Heroes</h2>
        <p>Every army needs a leader. Take care of the upper echelon!</p>
        <p><a class="btn btn-default" href="@Url.Action("Create", "Heroes")">Move it maggot! &raquo;</a></p>
    </div>
</div>